<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/task.css">
    <!-- <link href="https://fonts.font.im/css?family=Concert+One|Russo+One" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet"> -->
    {% block header_extension %}
    {% endblock %}
    <title>Covid-Auto</title>
</head>
<body>
    <div class="container">
        <div class="title-bar"><span>COVID-AUTO</span></div>
        <div class="left-nav">
            <ul>
                <li class="icon-tasks">My tasks</li>
                <li class="icon-statistics">Statistics</li>
                <li class="icon-user">Information</li>
            </ul>
        </div>
        <div class="content">
            <!-- <div class="items">
                <div class="item-title">濮阳</div>
                <div class="item-content">
                    <div class="location-province">省份：河南省</div>
                    <div class="location-city">城市：濮阳市</div>
                    <div class="on-off">状态：已启用</div>
                </div>
            </div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div> -->
            {% for task in tasks %}
                <div class="items">
                    <div class="item-title">{{ task.task_title }}</div>
                    <div class="item-content">
                        <div class="location-province">省份：{{ task.task_province }}</div>
                        <div class="location-city">城市：{{ task.task_city }}</div>
                        <div class="on-off">状态：{{ task.on_or_off }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% block body_extension %}
    {% endblock %}
</body>
</html>