[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "mirrorsaliyun"

[packages]
django = {version = "*", index = "mirrorsaliyun"}

[dev-packages]

[requires]
python_version = "3.8"
